
{% extends "layout.html" %}

{% set active_page = "products-list" %}

{% block content %}

<b-container fluid="xl">
  <b-row>

    <b-col>
      <b-row>
        <b-col lg="8">
          <b-row>
            <b-col>
              <b-form-group horizontal label="{{ gettext('label_areas_list', request=request) }}">
                <b-input-group>
                    <b-form-select
                      v-model="area"
                      :options="areasList"
                      text-field="name"
                      value-field="name"
                      @change="filterEntriesByArea">
                      <template v-slot:first>
                        <b-form-select-option :value="null" disabled>{{ gettext('placeholder_select_area', request=request) }}</b-form-select-option>
                      </template>
                    </b-form-select>
                </b-input-group>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group horizontal label="{{ gettext('label_cities_list', request=request) }}">
                <b-input-group>
                  <multiselect
                    placeholder="{{ gettext('placeholder_list_of_cities', request=request) }}"
                    v-model="city"
                    :options="citiesList"
                    :multiple="true"
                    :searchable="true"
                    :loading="isLoadingCities"
                    :internal-search="false"
                    :clear-on-select="true"
                    :close-on-select="true"
                    :options-limit="10"
                    :limit="10"
                    :limit-text="limitSelectedCitiesText"
                    :max-height="600"
                    :show-no-results="false"
                    :hide-selected="true"
                    @search-change="asyncFindCities"
                    @input="filterEntries"></multiselect>
                </b-input-group>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group horizontal label="{{ gettext('label_max_price', request=request) }}">
                <b-input-group>
                  <b-form-input v-model="max_price" placeholder="{{ gettext('placeholder_max_price', request=request) }}" @input="filterEntries"></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
          </b-row>
          {% if user %}
          <b-row>
            <b-col>
              <b-form-group horizontal label="{{ gettext('label_show_deja_vu', request=request) }}">
                <b-input-group>
                  <b-form-checkbox v-model="show_deja_vu" switch @input="filterEntries"></b-form-checkbox>
                </b-input-group>
              </b-form-group>
            </b-col>
          </b-row>
          {% endif %}
        </b-col>
      </b-row>
      {% if user %}
      <b-row>
        <b-col>
          <b-button @click="saveUserFilter">{{ gettext('cta_save_filters', request=request) }}</b-button>
        </b-col>
      </b-row>
      {% endif %}
      <b-row v-if="items.length > 0">
        <b-col>
          <b-button class="facet" v-for="facet in facets" @click="filterByFeature(facet)" :variant="facetVariant(facet)">[[ facet ]]</b-button>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <div style="height:40px">&nbsp;</div>
        </b-col>
      </b-row>

    </b-col>
  </b-row>

</b-container>

<b-container>

  <notifier :message="message" :variant="notifierVariant" :show="showMessage"></notifier>

  <b-row v-if="isLoading">
    <b-col>
      <div class="text-center">
        <b-spinner variant="primary"></b-spinner>
      </div>
    </b-col>
  </b-row>

</b-container>

<b-container ref="entriesContainer" v-if="!isLoading">

  <b-row v-if="items.length > 0">
    <b-col>
      <b-pagination-nav align="center" @click.native.stop.prevent="onPageChange" :number-of-pages="pagesCount" v-model="currentPage"></b-pagination-nav>
    </b-col>
  </b-row>

  <b-row>
    <b-col>
      <p><em>[[itemsCount]]</em> {{ gettext('items_found', request=request) }}</p>
    </b-col>
    {% if user %}
    <b-col>
      <b-form-group horizontal label="{{ gettext('label_show_tbv', request=request) }}">
        <b-input-group>
          <b-form-checkbox v-model="show_only_tbv" switch @input="filterEntries"></b-form-checkbox>
        </b-input-group>
      </b-form-group>
    </b-col>
    {% endif %}
  </b-row>

  <b-row>
    <b-col>
      <b-row>
        <div class="container-fluid mt-4">
            <div class="row justify-content-center">
                <div class="col-auto mb-3" v-for="card in items" :key="card.sku">
                    <div class="card" style="width: 18rem;">
                        <b-link :href="card.url" target="_blank">

                          <b-carousel
                            id="carousel-1"
                            :interval="0"
                            controls
                            fade
                            indicators>
                            <b-carousel-slide v-for="slide in card.media"
                              v-bind:img-src="slide"
                              v-bind:img-alt="card.title"
                            ></b-carousel-slide>

                          </b-carousel>

                        </b-link>
                        <div class="card-body">
                          <h5 class="card-title"><b-link :href="card.url" target="_blank">[[card.title]]</b-link></h5>
                          <h6 class="card-subtitle mb-2 text-muted">
                            <b-link v-on:click="filterByCity(card.city)">
                              <i class="fas fa-city fa-fw" style="margin-right: 0.5rem"></i>[[card.city]]
                            <b-link>
                          </h6>
                          <h6 class="card-subtitle mb-2 text-muted">
                            <b-link v-on:click="filterByCatalog(card.catalog)">
                              <i class="fas fa-sign fa-fw" style="margin-right: 0.5rem"></i>[[catalogs[card.catalog].long_name]]
                            </b-link>
                          </h6>
                          <p class="card-text">
                            <b-form-checkbox
                              v-model="card.deja_vu"
                              @change="setDejaVu(card)">
                              {{ gettext('item_deja_vu', request=request) }}
                            </b-form-checkbox>
                          </p>
                          <p class="card-text">
                            <button type="button" class="btn btn-default btn-sm" v-on:click="setTBV(card)">
                              <i class="fa-fw" v-bind:class="{'far fa-star': !card.tbv, 'fas fa-star': card.tbv}"></i>
                              {{ gettext('item_to_be_visited', request=request) }}
                            </button>
                          </p>
                          <p class="card-text">
                            <button type="button" class="btn btn-default btn-sm">
                              <h5><i class="fas fa-euro-sign fa-fw"></i>[[card.price]]</h5>
                            </button>
                            [[displayPropertySurface(card)]]
                          </p>
                        </div>
                        <div v-if="card.is_new" class="card-footer bg-warning">
                          {{ gettext('item_is_new', request=request) }}
                        </div>
                        <div class="card-footer">
                          <i class="fas fa-id-card fa-fw"></i>[[card.sku]]
                        </div>
                        <div v-if="card.features" class="card-footer text-muted">
                          <span v-for="feature in card.features"> [[feature]] </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <b-row>
    </b-col>
  </b-row>
  <b-row v-if="items.length > 0">
      <b-col>
        <b-pagination-nav align="center" @click.native.stop.prevent="onPageChange" :number-of-pages="pagesCount" v-model="currentPage"></b-pagination-nav>
      </b-col>
  </b-row>
</b-container>

{% endblock %}

{% block footer %}

<script type="text/javascript">

  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      isLoading: false,
      max_price: {{ max_price }}, // max_price can be set in the url
      show_deja_vu: false,
      show_only_tbv: false,
      // selected cities
      city: {% if city %}{{ city|tojson }}{% else %}[]{% endif %}, // city can be set in the url
      // possible cities proposed to the user
      citiesList: [],
      isLoadingCities: false,
      // the selected area (group of cities)
      area: '',
      // possible areas proposed to the user
      areasList: [],
      // the selected catalog for Filtering
      catalog: '',
      // for properties list refinement
      facets: [],
      selectedFacets: [],
      itemsCount : 0,       // total items count displayed at the top of the table
      items: [],
      currentPage : 1,      // current page of the table
      pagesCount : 1,       // total number of pages on the table
      message: '',
      notifierVariant : 'info',
      zone: {% if zone %}'{{ zone }}'{% else %}''{% endif %},
      user_id: {% if user %}'{{ user.id }}'{% else %}''{% endif %},
      user_deja_vu: {% if user and user.deja_vu and user.deja_vu.get(zone) %}{{ user.deja_vu.get(zone)|tojson }}{% else %}[]{% endif %}, // the list of user deja_vu
      user_tbv: {% if user and user.tbv and user.tbv.get(zone) %}{{ user.tbv.get(zone)|tojson }}{% else %}[]{% endif %}          // the list of user tbv
    },
    mounted: function() {
      this.loadAreas()
      this.loadUserEntries()
    },
    methods: {

      loadUserEntries: function() {

        // fetch user filters if user is authenticated
        if (this.user_id!='') {
          var that = this
          // load user prefs
          axios.get(`/users/${that.user_id}`)
            .then(function (response) {

              filter = response.data.result.filter
              if (filter && typeof(filter.city)!=='undefined' && filter.city.length > 0) {
                // filter.city can be either a list of elements
                that.city = filter.city.filter(item => item.trim()!=='');
              }
              if (filter && typeof(filter.max_price)!=='undefined' && filter.max_price !== '') {
                that.max_price = filter.max_price
              }
              if (filter && typeof(filter.include_deja_vu)!=='undefined') {
                that.show_deja_vu = Boolean(filter.include_deja_vu)
              }
              if (filter && typeof(filter.area)!=='undefined' && filter.area!=='') {
                that.area = filter.area
              }

              that.filterEntries()

            })
            .catch(function (error) {
              console.error(error);
              that.message = "{{ gettext('unexpected_error', request=request) }}"
              that.notifierVariant = "warning"
            })

        } else {
          this.filterEntries()
        }
      },

      loadEntries : function() {

        var that = this
        that.notifierVariant = 'info'
        that.message = "{{ gettext('loading_entries', request=request) }}"
        that.isLoading = true

        // override possible user filters
        let cities_ = that.city.join(',')
        let max_price_ = that.max_price

        let route = `/products?zone=${that.zone}&page=${that.currentPage}&user_id=${that.user_id}&feature=${that.selectedFacets}&city=${cities_}&max_price=${max_price_}&catalog=${that.catalog}&tbv=${that.show_only_tbv}`

        axios.get(route)
          .then(function (response) {

            //app.facets = response.data.facets
            entries = response.data.products
            catalogs = response.data.catalogs

            // update the counter
            that.itemsCount = response.data.count

            // for performance, do not update Vue after each row
            // but update with all items in one-shot
            if (entries.length>0) {
              _ = []
              entries.forEach(function(element) {

                let item = {
                  'title' : element.title,
                  'description': element.description,
                  'id': element._id,
                  'sku': element.sku,
                  'catalog': element.catalog,
                  'city': element.city,
                  'price': element.price,
                  'url': element.url,
                  'media': element.media,
                  'tbv': (that.user_tbv.includes(element._id)),
                  'deja_vu': (that.user_deja_vu.includes(element._id)),
                  'features': element.features,
                  'is_new': element.is_new,
                  'area': element.area  // the item area has nothing to do with the "area". Item area corresponds to the "surface"
                }
                // perf : do not filter items based on deja_vu
                // we expect the response to be clean
                // eventually we prefer a non-filtered list than a long delay to display it
                // if (!that.user_deja_vu.includes(element._id)){
                _.push(item)
                // }
              })

              // the keyword 'this' refers to what's inside axios.get()
              // so this.items and this.count has no sense here
              that.items = _
              that.itemsCount = response.data.count
              that.currentPage = response.data.current_page
              that.pagesCount = response.data.pages

              that.message = ''
              that.isLoading = false


            } else {
              that.message = "{{gettext('no_entries_found', request=request)}}"
              that.notifierVariant = 'warning'
              that.isLoading = false

              // RAZ of the fields
              // in case the data have been populated before
              that.items = []
              that.currentPage = 1
              that.pagesCount = 1

            }
          })
          .catch(function (error) {
            console.error(error);
            that.message = "{{ gettext('unexpected_error', request=request) }}"
            that.notifierVariant = "warning"
            that.isLoading = false
          })

      },

      loadFacets : function() {

        let route = `/terms/features?zone=${this.zone}`
        let that = this
        axios.get(route)
          .then(function (response) {

            that.facets =[]
            entries = response.data.results
            if (entries.length>0) {
              entries.forEach(function(element) {
                // console.log("populate facet", element)
                that.facets.push(element)
              })
            }

          })
          .catch(function (error) {
            console.error(error);
            that.message = "{{ gettext('unexpected_error', request=request) }}"
            that.notifierVariant = "warning"
          })

      },

      loadAreas : function() {

        let route = `/areas?zone=${this.zone}`
        let that = this
        axios.get(route)
          .then(function (response) {

            entries = response.data.results
            if (entries.length>0) {
              entries.forEach(function(element) {
                // console.log("populate facet", element)
                that.areasList.push(element)
              })
            }

          })
          .catch(function (error) {
            console.error(error);
            that.message = "{{ gettext('unexpected_error', request=request) }}"
            that.notifierVariant = "warning"
          })

      },

      filterEntries: function() {
        this.loadEntries()
        this.loadFacets()
      },

      // area here is the concept of grouping cities
      // it has nothing to do with the area attribute of a real estate property which corresponds to the "surface"
      filterEntriesByArea: function() {
        let that = this
        this.areasList.forEach(function(element) {
          if (element.name == that.area) {
            that.city = element.cities
          }
        })
        this.filterEntries()
      },

      filterByCatalog: function(cat) {

        this.catalog = cat
        this.filterEntries()
      },

      filterByCity: function(city) {

        this.city = [city]
        this.filterEntries()
      },

      filterByFeature: function(value) {

        // if the facet is already selected, unselect it
        // console.log("filterByFeature", value, this.selectedFacets.indexOf(value))
        i = this.selectedFacets.indexOf(value)
        if (i > -1) {
          this.selectedFacets.splice(i, 1)
        } else {
          this.selectedFacets.push(value)
        }
        this.loadEntries()
      },

      saveUserFilter: function() {

        var that = this
        that.isLoading = true

        // pass partial=true to indicate that only the filter should be updated
        axios.post(`/users/${that.user_id}?zone=${that.zone}`, {
          'filter': {
            'max_price': parseInt(that.max_price) || -1,
            'city': that.city,
            'include_deja_vu': Boolean(that.show_deja_vu),  //force as boolean
            'area': that.area
          }
        })
        .then(function (response) {
          //app.message = response.data.message
          that.notifierVariant = 'success'
          that.message = "{{ gettext('filter_save_success', request=request) }}"
          that.isLoading = false
        })
        .catch(function (error) {
          console.log(error)
          that.message = "{{ gettext('unexpected_error', request=request) }}"
          that.notifierVariant = "warning"
          that.isLoading = false
        })
      },

      onPageChange : function(event) {
        try {

          let parts = event.target.href.split('/')
          this.currentPage = parts[parts.length-1]
          this.loadEntries()

        } catch(error) {
          console.error(error)
        }
      },

      setDejaVu: function(item) {
        // Handle changes in individual flavour checkboxes
        // state transferred is the former one !
        // if checked, the former one is unchecked
        let deja_vu = !item.deja_vu
        // we must pass the full list of deja_vu items
        var that = this

        if (deja_vu && !that.user_deja_vu.includes(item.id)) {
            that.user_deja_vu.push(item.id)
        } else {
            that.user_deja_vu = that.user_deja_vu.filter(id => id!==item.id)
        }

        body = {'deja_vu': {}}
        body['deja_vu'][that.zone] = that.user_deja_vu

        axios.post(`/users/${that.user_id}?zone=${that.zone}`, body )
        .then(function (response) {
          that.notifierVariant = 'success'
        })
        .catch(function (error) {
          console.log(error)
          that.message = "{{ gettext('unexpected_error', request=request) }}"
          that.notifierVariant = "warning"
        })

        // for perf reason, we do not wait for the server response
        //remove immediately the item from the list of items
        if (!that.show_deja_vu) {
          that.items = that.items.filter(element => element.sku !== item.sku)
          // decrease the count
          that.itemsCount -=1
        }
      },

      setTBV: function(item) {

        // update the "star"
        item.tbv = !item.tbv
        // we must pass the full list of deja_vu items
        var that = this

        if (item.tbv && !that.user_tbv.includes(item.id)) {
            // we must pass the full list of deja_vu items
            // var that = this
            that.user_tbv.push(item.id)

        } else {
            that.user_tbv = that.user_tbv.filter(id => id!==item.id)
        }

        body = {'tbv': {}}
        body['tbv'][that.zone] = that.user_tbv

        axios.post(`/users/${that.user_id}?zone=${that.zone}`, body)
        .then(function (response) {
          //app.message = response.data.message
          that.notifierVariant = 'success'
        })
        .catch(function (error) {
          console.log(error)
          that.message = "{{ gettext('unexpected_error', request=request) }}"
          that.notifierVariant = "warning"
        })
      },

      limitSelectedCitiesText: function(count) {
        return `et ${count} autres villes`
      },

      asyncFindCities: function(query) {
        var that = this
        if (query.length > 0) {
          this.isLoadingCities = true
          axios.get(`/terms/city?zone=${that.zone}&q=${query}`)
            .then(function (response) {
              that.citiesList = response.data.results.filter(item => item.trim()!=='')
              that.isLoadingCities = false
            })
            .catch(function (error) {
              console.error(error);
            })
        }
      },

      // is the facet active (selected)
      facetVariant: function(facet) {
        if (this.selectedFacets.indexOf(facet) > -1) {
          return 'secondary'
        } else {
          return 'outline-secondary'
        }
      },

      displayPropertySurface: function(card) {
        if (typeof(card.area)!=='undefined' && card.area!='') {
          return card.area + ' m2'
        }
        return ''
      }
    },
    computed: {
      showMessage : function() {
        return this.message!==''
      }
    }
  })



</script>

{% endblock %}
