

cachetools
gunicorn
inject
jsonschema
raven
sanic
sanicargs
sanic-babel
six
text-unidecode
ujson

# sentry
sentry-sdk==1.14.0
aiocontextvars

# Tasks
redis
rq
rq-scheduler

# Index & query data
# use libs corresponding to the verison of ES
# in my case, i'm using a 6.x
elasticsearch==6.3.1
elasticsearch-dsl

# firebase driver
pyrebase

# oauth
sanic_oauth
sanic-session[aioredis]
